<!DOCTYPE html>

<html>

<head>

<title>Student Registration</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h2>Student Registration</h2>

<form action="/register" method="POST">

<label>Student Name</label>

<input
type="text"
name="name"
required>

<label>UEN</label>

<input
type="text"
name="UEN"
required>

<label>Program</label>

<input
type="text"
name="dept"
required>

<input
type="submit"
value="Course Register">

</form>

</div>

<script src="/static/script.js"></script>

</body>

</html>